In [1]:
import numpy as np
import pandas as pd

In [3]:
pokemons = {
    'pok_ht': np.random.randint(1, 100, 5),
    'pok_wt': np.random.randint(50, 150, 5),
    'pok_pwr': np.random.randint(200, 250, 5),
}

In [11]:
len(pokemons)

3

In [12]:
df = pd.DataFrame(pokemons)

In [13]:
print(df)

   pok_ht  pok_wt  pok_pwr
0      36     145      211
1      81      79      203
2      51      52      242
3      55     102      221
4      66      87      210

In [16]:
df.head()
# df.head(n = 3)

   pok_ht  pok_wt  pok_pwr
0      36     145      211
1      81      79      203
2      51      52      242
3      55     102      221
4      66      87      210

In [20]:
df.to_csv('pokemons_data.csv', index=False)

In [21]:
df.columns

Index(['pok_ht', 'pok_wt', 'pok_pwr'], dtype='object')

In [23]:
pd.read_csv('pokemons_data.csv')
df.head()

   pok_ht  pok_wt  pok_pwr
0      36     145      211
1      81      79      203
2      51      52      242
3      55     102      221
4      66      87      210

In [26]:
df.drop(columns=['pok_ht'])

   pok_wt  pok_pwr
0     145      211
1      79      203
2      52      242
3     102      221
4      87      210